<%= render 'templates/header' %>

<div class="wrapper">
  <section class="contents_top">
    <div class="posts">
      <ul class="post_ul">
        <li class="post_li">
          <a href="">
            <img src="https://stereo-gn.com/wp-content/uploads/2015/08/saita_ameb__0935-10.jpg" 300x300 class="post_img">
            <div class="post_title">
              テストですよ
            </div>
          </a>
          <a href="">
            <div class="info_box">
              <div class="user_thumbnail" style="background-image: url(https://item-shopping.c.yimg.jp/i/j/akism_00145126;">
              </div>
              <div class="info_info">
                <p class="post_date">
                  2020年6月1日(月)
                </p>
                <p class="user_name">
                  Taro
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="post_li">
          <a href="">
            <img src="https://news.webike.net/wp-content/uploads/2020/04/200409_picmybike_01.jpg" 300x300 class="post_img">
            <div class="post_title">
              テストですよ
            </div>
          </a>
          <div class="info_box">
            <div class="user_thumbnail" style="background-image: url(https://item-shopping.c.yimg.jp/i/j/akism_00145441;">
            </div>
            <div class="info_info">
              <p class="post_date">
                2020年6月1日(月)
              </p>
              <p class="user_name">
                Taro
              </p>
            </div>
          </div>
        </li>
        <li class="post_li">
          <a href="">
            <img src="https://news.webike.net/wp-content/uploads/2020/04/200409_picmybike_01.jpg" 300x300 class="post_img">
            <div class="post_title">
              テストですよ
            </div>
          </a>
          <div class="info_box">
            <div class="user_thumbnail" style="background-image: url(https://item-shopping.c.yimg.jp/i/j/akism_00145442;">
            </div>
            <div class="info_info">
              <p class="post_date">
                2020年6月1日(月)
              </p>
              <p class="user_name">
                Taro
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<%= render 'templates/footer' %>
