<footer>
  <div class="inner-footer__menu-bar">
    <ul class="sns__icons">
      <div class="icon">
        <li class="sns__icons__facebook">
          <a href="http://www.facebook.com/">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
      </div>
      <div class="icon">
        <li class="sns__icons__instagram">
          <a href="http://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </div>
      <div class="icon">
        <li class="sns__icons__twitter">
          <a href="http://twitter.com/">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </div>
    </ul>
    <small>
      Copyright TouringNote 2020.
    </small>
  </div>
</footer>