.login_user_thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: gray;
  object-fit: cover;
}
.user_info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  &__nickname {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    padding: 15px;
  }
}
.post_li_user {
  width: 350px;
  padding: 10px;
  margin: 0 0 60px;
  background-color: #f7f6f5;
  border: 1px solid darkgray;
  border-radius: 3px;
  position: relative;
  i {
    font-size: 25px;
    font-weight: 600;
    color: #ff0000;
    position: absolute;
    top: 18px;
    right: 18px;
  }
}